/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 
 *,
 *:before,
 *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }
 
 
 html,
 body {
    height: 100%;
 }
 
 
 body {
     font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
    background-color:rgb(0, 0, 0);
    color: black;
 }

 header {
    padding: 50px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
 }
 

.image-div{
    display: inline-block;

}

#image-1 {
    position: absolute;
    top: 250px;
    right: 1860px;
}
#image-2 {
    position: absolute;
    top: 250px;
    right: 920px;
}
#image-3 {
    position: absolute;
    top: 250px;
    left: 1860px;
}
#image-4 {
    position: absolute;
    top: 250px;
    right: 1860px;
}
#image-5 {
    position: absolute;
    top: 250px;
    right: 920px;
}
#image-6 {
    position: absolute;
    top: 250px;
    left: 1860px;
}
#image-7 {
    position: absolute;
    top: 250px;
    right: 1860px;
}
#image-8 {
    position: absolute;
    top: 250px;
    right: 920px;
}
#image-9 {
    position: absolute;
    top: 250px;
    left: 1860px;
}
#image-10 {
    position: absolute;
    top: 250px;
    right: 1860px;
}
#image-11 {
    position: absolute;
    top: 250px;
    right: 920px;
}
#image-12 {
    position: absolute;
    top: 250px;
    left: 1860px;
}
#image-13 {
    position: absolute;
    top: 250px;
    right: 1860px;
}
#image-14 {
    position: absolute;
    top: 250px;
    right: 920px;
}
#image-15 {
    position: absolute;
    top: 250px;
    left: 1860px;
}
#image-16 {
    position: absolute;
    top: 250px;
    right: 1860px;
}
#image-17 {
    position: absolute;
    top: 250px;
    right: 920px;
}
#image-18 {
    position: absolute;
    top: 250px;
    left: 1860px;
}
#image-19 {
    position: absolute;
    top: 250px;
    right: 1860px;
}
#image-20 {
    position: absolute;
    top: 250px;
    right: 920px;
}
#image-21 {
    position: absolute;
    top: 250px;
    left: 1860px;
}
#image-22 {
    position: absolute;
    top: 250px;
    right: 1860px;
}
#image-23 {
    position: absolute;
    top: 250px;
    right: 920px;
}
#image-24 {
    position: absolute;
    top: 250px;
    left: 1860px;
}
#image-25 {
    position: absolute;
    top: 250px;
    right: 1860px;
}
#image-26 {
    position: absolute;
    top: 250px;
    right: 920px;
}
#image-27 {
    position: absolute;
    top: 250px;
    left: 1860px;
}

